<a href="https://colab.research.google.com/github/rajakandukuri89/PCAP_Programming_Ess1/blob/main/PCAP_Programming_Ess1_Module4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This note books presents the Lab task solutions of PCAP - Programming Essentials In Python English 0422a - Module 4

Your task is to write and test a function which takes one argument (a year) and returns True if the year is a leap year, or False otherwise.

The seed of the function is already sown in the skeleton code in the editor.

Note: we've also prepared a short testing code, which you can use to test your function.

The code uses two lists - one with the test data, and the other containing the expected results. The code will tell you if any of your results are invalid.

In [ ]:
def is_year_leap(year):
    if (year%4==0 and year%100!=0) or (year%100==0 and year%400==0):
        return True
    else:
        return False
    
    
    

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
	yr = test_data[i]
	print(yr,"->",end="")
	result = is_year_leap(yr)
	if result == test_results[i]:
		print("OK")
	else:
		print("Failed")

Your task is to write and test a function which takes two arguments (a year and a month) and returns the number of days for the given month/year pair (while only February is sensitive to the year value, your function should be universal).

The initial part of the function is ready. Now, convince the function to return None if its arguments don't make sense.

Of course, you can (and should) use the previously written and tested function (LAB 4.3.1.6). It may be very helpful. We encourage you to use a list filled with the months' lengths. You can create it inside the function - this trick will significantly shorten the code.

We've prepared a testing code. Expand it to include more test cases

In [19]:
def is_year_leap(year):
    if (year%4==0 and year%100!=0) or (year%100==0 and year%400==0):
        return True
    else:
        return False
    

def days_in_month(year, month):
    if month>0 and month<13:
      index = month-1
    else:
      return

    days = [31,28,31,30,31,30,31,31,30,31,30,31]
    if is_year_leap(year) and month==2:
        return 29
    else:
        return days[index]

test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 31, 30]
for i in range(len(test_years)):
	yr = test_years[i]
	mo = test_months[i]
	print(yr, mo, "->", end="")
	result = days_in_month(yr, mo)
	if result == test_results[i]:
		print("OK")
	else:
		print("Failed")

1900 2 ->OK
2000 2 ->OK
2016 1 ->OK
1987 11 ->OK

In [23]:
def is_year_leap(year):
    if (year%4==0 and year%100!=0) or (year%100==0 and year%400==0):
        return True
    else:
        return False
    

def days_in_month(year, month):
    if month>0 and month<13:
      index = month-1
    else:
      return

    days = [31,28,31,30,31,30,31,31,30,31,30,31]
    if is_year_leap(year) and month==2:
        return 29
    else:
        return days[index]

def day_of_year(year, month, day):
    
    if day>days_in_month(year, month):
        return
    elif month==1:
        return day
    else:
        cday=0
        for i in range(1,month):
           cday += days_in_month(year, i)
        return cday+day


print(day_of_year(1900, 2, 28))


test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_days = [28, 29, 31, 30]
test_results = [59,60,31,334]
for i in range(len(test_years)):
	yr = test_years[i]
	mo = test_months[i]
	dy = test_days[i]
	print(yr, mo, dy, "->", end="")
	result = day_of_year(yr, mo, dy)
	if result == test_results[i]:
		print("OK")
	else:
		print("Failed")

59
1900 2 28 ->OK
2000 2 29 ->OK
2016 1 31 ->OK
1987 11 30 ->OK

A natural number is prime if it is greater than 1 and has no divisors other than 1 and itself.

Complicated? Not at all. For example, 8 isn't a prime number, as you can divide it by 2 and 4 (we can't use divisors equal to 1 and 8, as the definition prohibits this).

On the other hand, 7 is a prime number, as we can't find any legal divisors for it.


Your task is to write a function checking whether a number is prime or not.

The function:

is called is_prime;
takes one argument (the value to check)
returns True if the argument is a prime number, and False otherwise.
Hint: try to divide the argument by all subsequent values (starting from 2) and check the remainder - if it's zero, your number cannot be a prime; think carefully about when you should stop the process.

If you need to know the square root of any value, you can utilize the ** operator. Remember: the square root of x is the same as x0.5

Complete the code in the editor.

Run your code and check whether your output is the same as ours.

Expected output
2 3 5 7 11 13 17 19

In [ ]:
def is_prime(num):
    if num == 2:
        return True
    elif num>2:
        result = True
        for i in range(2,num):
            if num%i==0:
                result = False
                break
        return result


for i in range(1, 20):
	if is_prime(i + 1):
			print(i + 1, end=" ")
print()

A car's fuel consumption may be expressed in many different ways. For example, in Europe, it is shown as the amount of fuel consumed per 100 kilometers.

In the USA, it is shown as the number of miles traveled by a car using one gallon of fuel.

Your task is to write a pair of functions converting l/100km into mpg, and vice versa.

The functions:

are named liters_100km_to_miles_gallon and miles_gallon_to_liters_100km respectively;
take one argument (the value corresponding to their names)
Complete the code in the editor.

Run your code and check whether your output is the same as ours.

Here is some information to help you:

1 American mile = 1609.344 metres;
1 American gallon = 3.785411784 litres.
Expected output
60.31143162393162
31.36194444444444
23.52145833333333
3.9007393587617467
7.490910297239916
10.009131205673757

In [ ]:
def liters_100km_to_miles_gallon(liters):
    no_of_miles = (100*1000)/1609.344
    return no_of_miles/(liters/3.785411784)
    
def miles_gallon_to_liters_100km(miles):
    no_of_km = (miles*1.609344)
    return 100*(3.785411784/no_of_km)

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))